:root {
  /* define the color 1-3 */
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  /* define the text color */
  --color-headins: #1b0760;
  --color-body: #918ca4;
}

body {
  height: 400vh;

  background: linear-gradient(to top left, #28b487, #7dd56f);
}
